.vs/DataOrganizer/v14/.suo
bin/Debug/DataOrganizer.exe
bin/Debug/DataOrganizer.exe.config
bin/Debug/DataOrganizer.pdb
bin/Debug/DataOrganizer.vshost.exe
bin/Debug/DataOrganizer.vshost.exe.config
bin/Debug/DataOrganizer.vshost.exe.manifest
obj/Debug/DataOrganizer.FormDelete.resources
obj/Debug/DataOrganizer.FormNew.resources
obj/Debug/DataOrganizer.MainForm.resources
obj/Debug/DataOrganizer.Properties.Resources.resources
obj/Debug/DataOrganizer.csproj.FileListAbsolute.txt
obj/Debug/DataOrganizer.csproj.GenerateResource.Cache
obj/Debug/DataOrganizer.csprojResolveAssemblyReference.cache
obj/Debug/DataOrganizer.exe
obj/Debug/DataOrganizer.pdb
obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
